body {
    font-size: 50px;
    background-color: rgb(54, 30, 67);
    width:90%;
    height:40%;
    padding: auto;
    margin: 5%;
}

#FG
{
    background-color: rgb(76, 76, 201);

    outline-style: solid;
    outline-color: white;
    
    border-radius: 25px;

    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;

    padding-bottom: 40%;

    color: white;
}

.Entry{
    text-align: center;

    width: 50%;
    height: 45%;

    margin-left: 25%;

    background-color: rgb(54, 30, 67);
    color: rgb(255, 255, 255);

    font-size: 40px;
}